@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';

header{


    background-color: black;
    
    
}
header ul li  {
    display: contents;
    position:absolute;
    justify-self: start;
    margin: 50;
    
}
body.mat-typography {
    background-color: rgb(7, 22, 22);
}
button{
    padding: 1%;
    background-color: rgba(39, 178, 212, 0.863);
    border-radius: 10px;
    display: flex;
    display: inline;
    justify-content:space-around;



}
ul{
    margin:0;
}
.btn3{
    margin-left: 50px;
}
#div{
    display: contents;
    color: #f44336;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-variant-alternates: historical-forms;
    font-style: bold;
}