<section class="back">
<div class="container">
    <table>
        <thead>
            <tr>
                <th>SNO</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of showData; let i=index">
                <td>{{i+1}}</td>
                <td>{{items.Uname}}</td>
                <td>{{items.email}}</td>
                <td>{{items.mobile}}</td>
                <td>{{items.city}}</td>
                <button [routerLink]="['/update',items.UserId]">Edit</button>
                <button (click)="DeleteData(items.UserId)" style="background-color: red;">Delete</button>
                
            </tr>
        </tbody>
    </table>

</div>
</section>