<section class="back">
<div class="container">
    <table>
        <thead>
            <tr>
                <th>SNO</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of showData; let i=index">
                <td>{{i+1}}</td>
                <td>{{items.Uname}}</td>
                <td>{{items.email}}</td>
                <td>{{items.mobile}}</td>
                <td>{{items.city}}</td>
                <button class="btn" [routerLink]="['/update',items.UserId]">Edit</button>
                
                <button class="btn2" mat-fab color="primary" (click)="DeleteData(items.UserId)" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>

                  
            </tr>
        </tbody>
    </table>

</div>
</section>